.groupForm {
  width:37vw;
  height:100vh;
  background-color:rgb(210, 210, 210);
}

.blockButton {
  display: flex;
  justify-content: space-between;
}
.buttonModifier {
  margin-right: 4em;
}

.textBody {
  margin: 2em 0 0 3em;
}