.groupForm {
  width:63vw;
  height:100vh;
  background-color:rgb(231, 231, 231);
}

.cardButtonPosition {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.formCenterProvider {
  text-align: center;
  margin-bottom: 10px;
}
